/* Fonts
 * -------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Lora');

/* Typing
 * -------------------------------------------------- */

h1, h2, h3, h4, h5, h6, p, span, small, a {
  font-family: 'Lora', serif;
  color: #444444;
}

/* Layout
 * -------------------------------------------------- */

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f7f7f7 none;
}

header {
  background: #fff none;
  min-height: 125px;
  box-shadow:
    0 .1px 12px 0 rgba(109, 109, 109, 0.08), 
    0 .1px 12px -2px rgba(109, 109, 109, 0.08),
    0 .1px 12px 0 rgba(109, 109, 109, 0.08) !important;
}

main {
  flex: 1;
}

footer {
  height: 50px;
  margin-top: 30px;
}

/* Helpers
 * -------------------------------------------------- */

.container {
  margin: 0 auto;
  max-width: 800px;
  padding-left: 50px;
  padding-right: 50px;
}

.inline-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 20px;
}

.inline-list li {
  float: left;
  padding-right: 16px;
  padding-bottom: 20px;
}

/* Styling
 * --------- */

hr {
  border: 0 !important;
  height: 0 !important;
  border-top: 0.7px solid rgba(0, 0, 0, 0.1) !important;
  border-bottom: 0.7px solid rgba(0, 0, 0, 0.1) !important;
  padding: 0 !important;
  margin: 0 !important;
}

a {
  text-decoration: none;
  color: #444444;
}

a:hover {
  color: #000;
}
